.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.container h1 {
    color: #19218a;
    margin-bottom: 2rem;
}

.content-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    width: 90%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    padding: 2.5rem;
    border-radius: 0.3rem;
}

.content-form .form-area {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.label-area h3 {
    color: #19218a;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
    text-align: center;
    margin-top: 1rem;
}

.content-form .label-input {
    display: flex;
    margin-top: 1rem;
    align-items: center;
}

.content-form label {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    font-weight: 300;
    color: #19218a;
    letter-spacing: 0.1rem;
}

.content-form .input {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    padding: 0.5rem;
    width: 100%;
    margin-left: 0.5rem;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 0.3rem;
}

.content-form .input i {
    color: #ccc;
}

.content-form .input input {
    padding: 0.5rem;
    border: none;
    outline: none;
    letter-spacing: 0.1rem;
}

.content-form .error {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    color: red;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 0.3rem;
}
    


.select-destiny {
    margin-top: 2rem;
    display: flex;
    border-radius: 0.3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.select-destiny h3 {
    color: #19218a;
    margin-bottom: 4rem;
    letter-spacing: 0.1rem;
}

.select-destiny select {
    height: 3rem;
    width: 15rem;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.select-destiny select .opt {
    font-size: 1rem;
    text-align: center;
    letter-spacing: 0.1rem;
    justify-content: center;
    align-items: center;
}

.select-destiny button {
    padding: 1rem;
    margin-top: 0.3rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    border-radius: 0.3rem;
    border: none;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    transition: all;
    color: #343fd4;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    transition: all 0.3s linear;
    margin-bottom: 0.5rem;
}

.select-destiny button:hover {
    transform: scale(1.09);
}


@media screen and (max-width: 767px) {
    .content-form {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content-form form {
        width: 100%;
    }

    .content-form .form-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .content-form .label-input label {
        font-size: 1.2rem;
    }

    .content-form .input input {
        width: 100%;
    }

    .divider {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        height: 0.1rem;
        width: 100%;
    }

    .select-destiny {
        margin-top: 1.5rem;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .select-destiny h3 {
        margin-bottom: 1rem;
    }

}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 1.5rem;
    }
}